
body{
    box-sizing: border-box;
}

#dbimg1 {
  background-image: url(img\1643630165731.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 155px;
}
#dbimgcont {
  max-width: 100% !important;
}
#dbimgcont h3 {
  color: rgb(209, 55, 55);
  text-align: center;

  font-size: 3rem;
}
/* .ucardinfo{
    display: inline-flexbox;
    position:relative;
    left: 31rem;
    bottom: 8rem;


} */
.needhelp {
  text-align: center;

  margin-top: 70px;
}

.btn-primary {
  border-radius: 20px;
}

.bgcolor-white {
  background-color: white;
}
.side-list-it {
  background-color: #ffff;
  margin-top: 3rem;
  list-style: none;
}
.side-list-it a span {
  background-color: #ffff;
  color: grey;
  margin-top: 3rem;
  list-style: none;
}
.side-list-it a {
  text-decoration: none;
}
.sidebar-logo {
  margin-top: 7rem;
}
#side-nav {
  margin-top: 4rem !important;
}
#container {
  /* border: 2px solid black ;    */
}
#aboutheading {
  color: black;
  font-size: 2.5rem;
  
  /* text-align: center; */
  /* border: 1px solid red; */
}

.aboutcard {
  color: black;
  text-align: justify;
  padding: 15px;
  /* margin: 10px; */
}
#vision {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.3);
}
#mission {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.3);
}

#pic {
  padding: 0;
  /* border-radius: 20px; */
  /* border: 1px solid transparent; */
  z-index: ;
}
.img-fluid {
  border-radius: 20px;
}
#process {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.3);
}

.centered {
  display: flex;

  flex-direction: column;
  /* align-content: space-between; */
  justify-content: center;
  
  padding: 20px;
}
.centered i,span {
  width: auto;
  margin: auto;
  text-align: centerAQ;
}

#certificatesvg{
  height: 20px;
  width: 25px;
  margin-bottom: 30px;
}

.container{
  padding: 30px;
}
