#dbimg1{
    background: url(../img/Rectangle\ 39.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 155px;
}
#dbimgcont{
   max-width:100% !important;
}
#dbimgcont h3{
    color: rgb(209, 55, 55);
    text-align: center;
    padding-top: 8%;
    font-size: 3rem;
}
.ucardinfo{
    display: inline-flexbox;
    position:relative;
    left: 31rem;
    bottom: 8rem;


}
.sidebar-positionset{


}
.bgcolor-white{
    background-color: white;
}
.side-list-it{
    background-color:#ffff;
    margin-top: 3rem;
    list-style: none;
}
.sidebar-logo{
    margin-top: 7rem;
}
.sidebar-toggle-bk{
    background-color: grey !important;
    margin-top: 2rem;

}
.card-row-cont{
    margin-top: 5rem;
    margin-bottom: 2.4rem;
}
.intern-info-cards{
    margin: 2rem;
    width: 40%;
}
.dbimg-position{
    margin-top: 0.5rem;
}
.banner-txt{
    text-align: center;
    font-size: 2rem;
    color: #ffff;
    position: relative;
    left: 24%;
    top: 42px;
    display: flex;
}
#side-nav{
    margin-top: 4rem !important;
}
